In [2]:
import pandas as pd

In [3]:
product_details = pd.read_csv("3.Vendor_Data.csv")

In [5]:
#preprocessing

In [6]:
bool_null = pd.isnull(product_details)

In [9]:
bool_null_list = bool_null.values.tolist()

In [41]:
null_count = sum([sum([1 for j in i if j==True]) for i in bool_null_list])

In [42]:
null_count

0

In [43]:
product_details

,Products,Avg_Price_per_unit,Cost_per_unit,Average_Profit_per_unit,Average_units_sold,Incremental_acquisition,Increase_sale_volume
0,Product 1,95,92,2.8,0.6,0.00323,0.08906
1,Product 2,37,27,10.0,0.8,0.00106,0.01991
2,Product 3,34,26,8.5,0.6,0.00328,0.03778
3,Product 4,32,30,2.8,0.7,0.00000,0.08562
4,Product 5,62,45,16.0,1.0,0.00079,0.02637
...,...,...,...,...,...,...,...
245,Product 246,23,21,2.0,1.5,0.00290,0.07129
246,Product 247,59,57,1.5,0.5,0.00000,0.05905
247,Product 248,16,15,0.9,1.6,0.00095,0.04835
248,Product 249,84,71,13.2,0.8,0.00264,0.00473
249,Product 250,38,28,9.7,2.1,0.00540,0.02149